*{margin:0px;}
#all {
	width: 980px;
}

#top {
	height: 200px;
	background-color: #FF7600;
	color: #FFFFFF;
	text-align: center;
	font-size: 90px;
	line-height: 200px;
	font-family: "方正水云简体";
}
#content {
	background-color: #D3D3D3;
	height: 1500px;
	padding-top: 8px;
}


.card {
	width: 800px;
	height: 200px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 8px 12px 12px 8px #949494;
	box-shadow: 8px 12px 12px 8px #949494;
	margin-right: 90px;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 100px;
	line-height: 200px;
	font-family: "方正水云简体";
	color: #B49425;
	margin-left: 90px;
}
.card a{
	color: #B49425;
	text-decoration: none;
}
.card a:hover{
	font-weight: bold;
	color: #FF7600;
}
#adress {
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	color: #8A5100;
}
