@charset "gb2312";
#body{
	width: 962px;
	float: left;
}
.window{
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
	float: left;
}
.windowr{
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
	margin-left: 30px;
}
.windowm{
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
}
.windowl{
	width: 300px;
	height: 300px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: center;
}
.row{
	width: 962px;
	height: 302px;
}
