*{margin: 0px;}
body {
	width: 1400px;
}
#detail{
	width: 1400px;

	}
#ur {
	margin-left: 500px;
	color: #9E9E9E;
	width: 1200px;
	font-size: 40px;
	margin-top: 5px;
}


#shopimg {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 15px;
}
#shopname {
	margin-left: 100px;
	font-size: 80px;
	line-height: 100px;
}
#shoppricediv {
	font-size: 130px;
	margin-left: 100px;
	color: #FF0004;
}
#intro {
	border-top: thick solid #7E7E7E;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 8px;
	margin-bottom: 50px;
}
#sp {
	line-height: 50px;
	font-size: 40px;
	margin-left: 30px;
	font-weight: bold;
}
#shopintro {
	font-size: 35px;
	margin-left: 40px;
	margin-right: 40px;
}
.tpzs{
	margin-left: 50px;
	margin-right: 50px;
}
